#div1 {
    margin: 20px 30px 20px;

    text-align: center;
    

}
img {
    width: 25vw;
    height: 25vh;


}
h1 {
    text-align: center;
    background-color: blueviolet;
}
html {
    background-color: cornsilk;
}
p {
    font-size: 1.25em;
    color: purple;
}
h1 {
    font-size: 3rem;
    
}
#div2 {
    font-size: 150%;

    margin: 30px;
    text-align: center;
}
